images/
.DS_Store
.ipynb_checkpoints
data
output
debug
*.pyc
deep-head-pose
EvalImages
cache*
*.pkl
gif
archive
*.ply
eval
out
dataset_preprocessing/ffhq/in-the-wild-images/
dataset_preprocessing/ffhq/final_crops/
dataset_preprocessing/ffhq/realign1500/
dataset_preprocessing/ffhq/FFHQ_512.zip
dataset_preprocessing/ffhq/LICENSE.txt
dataset_preprocessing/ffhq/ffhq-dataset-v2.json
client_secrets.json

# evaluation:
temp/
shapes/
imgs/
vids/
*.mp4

stylegan3/results
eg3d/results
eg3d_results
